<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		
	</title>
	<style type="text/css">
		input{
			background-color: gray;
		}
	</style>
</head>
<body>
	<div id="main">
		
		<h3>
			Hola a la aplicación: {{ name_app }}  
		</h3> 
		<hr>
	
		<form @submit.prevent="login" v-if="!is_log"> 

			<fieldset>
				<label>
					Email
				</label>
				<input type="email" v-model="email" placeholder="write here" name="" required>
			</fieldset>

			<fieldset>
				<label>
					Password
				</label>
				<input type="password" v-model="password" placeholder="write here" name="" required>
			</fieldset>

			<button type="submit">
				Access
			</button>

			 
		</form>

		<h1 v-if="is_log">
			
			Bienvenido usuario

		</h1>

		<hr>

		 

	</div>
	
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script>
	  const { createApp, ref } = Vue

	  createApp({
	    setup() {
	      
	    	const name_app = ref('Mi primer app') 
	      	let email = ref('jsoto@uabcs.mx') 
	      	let password = ref('123123123') 
	      	let is_log = ref(false) 

		    return {
		    	name_app, 
		    	email,
		    	password,
		    	is_log
		    }

	    },
	    methods:{

	    	login()
	    	{
	    		console.log(this.email)
	    		console.log(this.password)

	    		fetch ("users.json")
				.then(response => response.json())
				.then(response => {
					
					response.forEach((e) => {

						if (e.email == this.email) {
							if (e.password == this.password) {

								this.is_log = true
							}
						}

					});

					if (!this.is_log) {
						alert("Verifique su información")
					}

				});
	    	}
	    }
	  }).mount('#main') 
	</script>
</body>
</html>








